/* Header Section */
.header-container{
    background-color:#f2edd7;
}

p{
    color:#8a8a8a;
}

.search-container{
    background-color: #f5f2eb;
    
}

.btn-container{
    display: flex;
    align-items: center;
    height: 45px;
    padding: 9px 7px;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    cursor: pointer;
}


#logo{
    max-height: 80px; 
}

.main-section{
    background-color: #f5f2eb;
    height: 350vh;
   
}

#campground{
    background-color: #f5f2eb;
}

#map{
    height: 100vh;
    width: 100%;
}






/* cards */
.main-card{
    background-color: white;
    border-bottom: 5px solid #3a6351;
    max-height: 26rem;
    width: 19rem;
}

.card-img-top {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* add specific classes to the card at certain breakpoints  */
.pagination-container{
    background-color: #fff;
}


